@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Dancing+Script:wght@700&family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Oswald:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
/* CSS DO CABEÇALHO DA PAGINA PRINCIPAL */
.div_cabecalho {
    display: flex;
    justify-content: space-between;
    margin:10px 40px 20px 40px;
}

.logo {
    margin: 20px 0px 0px 30px;
    width: 270px;
}

.search-menu {
    margin-top: 20px;
    margin-right: 20px;
    width: 40vw;
}

.search-box {
    align-items: center;
    background: #F1F1F1;
    border-radius: 40px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 10px;
}

.search-txt {
    border: none;
    background: none;
    font-size: 16px;
    font-family: 'Open Sans';
    line-height: 30px;
    outline: none;
    width: 300px;
    transition: .5s;
}

.search-btn {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: .5s;
}

.search-box:hover > .search-btn {
    background: #099F19;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    list-style: none;
    font-family: 'Open Sans';
    margin-top:20px;
}

.menu a {
    text-decoration: none;
    border-radius: 30px;
    color: #000000;
    transition: .5s;
    padding: 5px 10px 5px 10px;
}

.menu a:hover {
    background: #703D12;
    color: #FFFFFF;
}