/* CSS DO CONTEÚDO DA PÁGINA PRINCIPAL */
.section-empresas {
    display: flex;
    justify-content: space-around;
}

.feature.col{
    margin-bottom:40px;
}

.div-empresa-img {
    display:flex;
    justify-content: center;
    margin-bottom:10px;
}

.div-empresa-img img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.div-empresa-titulo h2 {
    text-align: center;
    font-family: 'Open Sans';
}

.div-empresa-descricao p {
    text-align: center;
    font-family: 'Open Sans';
}

.div-empresa-btn {
    display: flex;
    justify-content: center;
}

.btn-produto {
    margin-top:30px;
    padding: 10px 40px;
    border: 1;
    border-radius: 5px;
    background: rgb(204,254,216);
    background: linear-gradient(90deg, rgba(204,254,216,1) 0%, rgba(149,186,254,1) 100%);
    cursor: pointer;
}

.btn-produto:hover {
    background: #a5a5ff;
}