/* CSS DO CONTEÚDO DA PÁGINA PRINCIPAL */
.section-conteudo-sobre {
    display: flex;  
    flex-grow: 1; 
}

.conteudo-sobre-texto {
    background: #F1F1F1;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 70%;
}

.conteudo-sobre-texto h1 {
    font-family: 'Open Sans';
    font-weight: bold;
}

.conteudo-sobre-texto p {
    font-family: 'Open Sans';
    color: #000000;
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
}

.conteudo-sobre-imagem {
    max-width: 30%;
   
}

.conteudo-sobre-imagem img {
    height: 100%;
}

.btn-contato {
    display: flex;
    background: #836FFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #FFFFFF;
    padding: 10px 30px 10px 30px;
    transition: .5s;
    margin-top: 70px;
    margin-bottom: 50px;
}

.btn-contato:hover {
    background: #0000CD;
}

.div-btn {
    display: flex;
    justify-content: space-around;   
}

.div-btn a {
    text-decoration: none;
}

.div-sub-paragrafo {
    max-width: 30%;
    margin-top: 20px;
    position: relative;
}

.div-sub-paragrafo p {
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
}

.div-sub-paragrafo img {
    position: absolute; 
    left: 40%; 
     
}

